<div class="modal-content">
  <ion-grid mode="md">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title class="ion-text-center">
          Edit Permission
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-row class="ion-justify-content-center">
      <form [formGroup]="editPermissionForm" style="width: 100vw;">
        <ion-row class="ion-justify-content-center">
          <ion-text color="danger" class="ion-text-center">{{ error }}</ion-text>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-label>Username:</ion-label>
              <ion-input type="text" formControlName="username" placeholder="Enter username" disabled></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-item lines="full">
              <ion-col size="5">
                <ion-label>User Type:</ion-label>
              </ion-col>
              <ion-radio-group formControlName="userType">
                <ion-col>
                  <ion-item lines="none">
                    <ion-label>Owner</ion-label>
                    <ion-radio value="Owner" slot="start"></ion-radio>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item lines="none">
                    <ion-label>Guest</ion-label>
                    <ion-radio value="Guest" slot="start"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-radio-group>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-item *ngIf="editPermissionForm.value.userType === 'Guest'">
              <ion-label>Expiry</ion-label>
              <ion-datetime displayFormat="MMM D, YYYY - hh:mm A" formControlName="expiry" min="{{ currentTime }}"
                placeholder="Select a date"></ion-datetime>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center">
          <ion-col size="10">
            <ion-button class="ion-justify-content-center" size="large" expand="block"
              style="--border-radius: 100px; font-size: 0.8rem; margin-top: 5%" color="tertiary"
              (click)="editPermission()" [attr.disabled]="editPermissionForm.invalid ? 'true' : 'false'">
              Submit
            </ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-row>
  </ion-grid>
</div>