<div class="modal-content">
  <ion-grid mode="md">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title class="ion-text-center">
          Change Password
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-row class="ion-justify-content-center">
      <form [formGroup]="changePasswordForm" style="width: 100vw;">
        <ion-row class="ion-justify-content-center">
          <ion-text color="danger" class="ion-text-center">{{ error }}</ion-text>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-label>Old Password:</ion-label>
              <ion-input type="password" formControlName="oldPassword" placeholder="Enter old password">
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        

        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-label>New Password:</ion-label>
              <ion-input type="password" formControlName="newPassword" placeholder="Enter new password">
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-item *ngIf="!changePasswordForm.controls.newPassword.valid && changePasswordForm.controls.newPassword.dirty">
          Password should contain at least 8 characters, an upper-case letter, a lower-case letter, a digit and a special symbol
        </ion-item>

        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-label>Confirm Password:</ion-label>
              <ion-input type="password" formControlName="cnewPassword" placeholder="Confirm password">
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-item *ngIf="!changePasswordForm.controls.cnewPassword.valid && changePasswordForm.controls.cnewPassword.dirty">
          Passwords don't match
        </ion-item>
        
        <ion-row class="ion-justify-content-center">
          <ion-col size="10">
            <ion-button class="ion-justify-content-center" size="large" expand="block"
              style="--border-radius: 100px; font-size: 0.8rem; margin-top: 5%" color="tertiary"
              (click)="changePassword()" [attr.disabled]="changePasswordForm.invalid ? 'true' : 'false'">
              Change
            </ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-row>
  </ion-grid>
</div>