<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>How to Use</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card mode="ios">
    <ion-card-header>
      <ion-row class="ion-align-items-center">
        <ion-col size="2" class="ion-text-center">
          <ion-icon name="key-outline" color="primary" size="large"></ion-icon>
        </ion-col>
        <ion-col size="10">
          <ion-card-title>
            Locks
          </ion-card-title>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      View, add, remove and operate on the locks you own and those to which you have access.
    </ion-card-content>
  </ion-card>
  <ion-card mode="ios">
    <ion-card-header>
      <ion-row class="ion-align-items-center">
        <ion-col size="2" class="ion-text-center">
          <ion-icon name="clipboard-outline" color="primary" size="large"></ion-icon>
        </ion-col>
        <ion-col size="10">
          <ion-card-title>
            Permissions
          </ion-card-title>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      You can view, edit and revoke the access permissions of users of your.
    </ion-card-content>
  </ion-card>
  <ion-card mode="ios">
    <ion-card-header>
      <ion-row class="ion-align-items-center">
        <ion-col size="2" class="ion-text-center">
          <ion-icon name="analytics-outline" color="primary" size="large"></ion-icon>
        </ion-col>
        <ion-col size="10">
          <ion-card-title>
            Logs
          </ion-card-title>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      View all access logs for a lock, date or user.
    </ion-card-content>
  </ion-card>
  <ion-card mode="ios">
    <ion-card-header>
      <ion-row class="ion-align-items-center">
        <ion-col size="2" class="ion-text-center">
          <ion-icon name="notifications-outline" color="primary" size="large"></ion-icon>
        </ion-col>
        <ion-col size="10">
          <ion-card-title>
            Notifications
          </ion-card-title>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      You will be intimated every time your locks are accessed.
    </ion-card-content>
  </ion-card>
  <ion-card mode="ios">
    <ion-card-header>
      <ion-row class="ion-align-items-center">
        <ion-col size="2" class="ion-text-center">
          <ion-icon name="finger-print-outline" color="primary" size="large"></ion-icon>
        </ion-col>
        <ion-col size="10">
          <ion-card-title>
            Fingerprint
          </ion-card-title>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      Enable app unlocking via fingerprint.
    </ion-card-content>
  </ion-card>
</ion-content>