<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Other Locks</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" menu="menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="content">
  <ion-refresher slot="fixed" (ionRefresh)="refreshLocks($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-title class="ion-text-center ion-no-margin ion-margin-top">
    <ion-text mode="ios" color="primary">
      Secondary Owner Locks
    </ion-text>
  </ion-title>

  <ion-row class="ion-margin-top ion-justify-content-center" *ngIf="lockOwnerSetEmpty">
    <ion-text mode="ios">
      No locks here!
    </ion-text>
  </ion-row>

  <ion-card *ngFor="let lockId of lockOwnerSet" [attr.color]="lockId === expandedLockId ? 'dark' : ''"
    (click)="expandLock(lockId)" mode="ios">
    <ion-card-header>
      <ion-row>
        <ion-col size="2">
          <ion-icon [attr.name]="lockId === expandedLockId ? 'key-outline' : 'key'" size="large" color="primary">
          </ion-icon>
        </ion-col>
        <ion-col size="10">
          <ion-row>
            <ion-card-title>{{ locks[lockId]['alias'] }}</ion-card-title>
          </ion-row>
          <ion-row>
            <ion-card-subtitle>{{ locks[lockId]['address'] }}</ion-card-subtitle>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-card-header>
  
    <ion-card-content *ngIf="lockId === expandedLockId" style="padding: 0;" [@inOutOwnerAnimation]>
      <ion-row style="padding: 0">
        <ion-col size="6" style="padding: 0;">
          <ion-item color="tertiary" (click)="lock(lockId)" button class="lock" mode="md">
            <ion-icon name="lock-closed" slot="start"></ion-icon>
            <ion-label>Lock</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6" style="padding: 0;">
          <ion-item color="secondary" (click)="unlock(lockId)" button class="lock" mode="md">
            <ion-icon name="lock-open-outline" slot="start"></ion-icon>
            <ion-label>Unlock</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-item lines="full" color="dark" (click)="startWebcam(lockId)" button
        [attr.disabled]="locks[lockId].webcam ? 'false' : 'true'" mode="md">
        <ion-icon name="videocam-outline" slot="start" color="success"></ion-icon>
        <ion-label>Start Webcam</ion-label>
      </ion-item>
      <ion-item lines="full" color="dark" (click)="viewPermissions(lockId)" button mode="md">
        <ion-icon name="finger-print-outline" slot="start" color="medium"></ion-icon>
        <ion-label>View Permissions</ion-label>
      </ion-item>
      <ion-item lines="full" color="dark" (click)="viewLogs(lockId)" button mode="md">
        <ion-icon name="analytics-outline" slot="start" color="warning"></ion-icon>
        <ion-label>View Logs</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-title class="ion-text-center ion-margin-top" style="margin-top: 4vh;">
    <ion-text mode="ios" color="primary">
      Guest Locks
    </ion-text>
  </ion-title>

  <ion-row class="ion-margin-top ion-justify-content-center" *ngIf="lockSetEmpty">
    <ion-text mode="ios">
      No locks here!
    </ion-text>
  </ion-row>

  <ion-card *ngFor="let lockId of lockSet" [attr.color]="lockId === expandedLockId ? 'dark' : ''" (click)="expandLock(lockId)" mode="ios">
    <ion-card-header>
      <ion-row>
        <ion-col size="2">
          <ion-icon [attr.name]="lockId === expandedLockId ? 'key-outline' : 'key'" size="large" color="primary"></ion-icon>
        </ion-col>
        <ion-col size="10">
          <ion-row>
            <ion-card-title>{{ locks[lockId]['alias'] }}</ion-card-title>
          </ion-row>
          <ion-row>
            <ion-card-subtitle>{{ locks[lockId]['address'] }}</ion-card-subtitle>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-card-header>
  
    <ion-card-content *ngIf="lockId === expandedLockId" style="padding: 0;" [@inOutAnimation]>
      <ion-row style="padding: 0">
        <ion-col size="6" style="padding: 0;">
          <ion-item color="tertiary" (click)="guestLockOperations(lockId, 'lock')" button class="lock" mode="md">
            <ion-icon name="lock-closed" slot="start"></ion-icon>
            <ion-label>Lock</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6" style="padding: 0;">
          <ion-item color="secondary" (click)="guestLockOperations(lockId, 'unlock')" button class="lock" mode="md">
            <ion-icon name="lock-open-outline" slot="start"></ion-icon>
            <ion-label>Unlock</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
