<ion-header>
  <ion-toolbar color="primary" mode="ios">
    <ion-title>Other Locks</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" menu="menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="content">
  <ion-refresher slot="fixed" (ionRefresh)="refreshLocks($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card *ngFor="let lockId of lockSet" [attr.color]="lockId === expandedLockId ? 'primary' : null" (click)="expandLock(lockId)">
    <ion-card-header>
      <ion-row>
        <ion-col size="10">
          <ion-row>
            <ion-card-title>{{ locks[lockId]['alias'] }}</ion-card-title>
          </ion-row>
          <ion-row>
            <ion-card-subtitle>{{ locks[lockId]['address'] }}</ion-card-subtitle>
          </ion-row>
        </ion-col>
        <ion-col size="1">
          <ion-icon name="key" size="large"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-card-header>
  
    <ion-card-content *ngIf="lockId === expandedLockId" style="padding: 0;" [@inOutAnimation]>
      <ion-row style="padding: 0">
        <ion-col size="6" style="padding: 0;">
          <ion-item color="danger" (click)="lock(lockId)" button>
            <ion-icon name="lock" slot="start"></ion-icon>
            <ion-label>Lock</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6" style="padding: 0;">
          <ion-item color="success" (click)="unlock(lockId)" button>
            <ion-icon name="unlock" slot="start"></ion-icon>
            <ion-label>Unlock</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
