// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #000099;
  --ion-color-primary-rgb: 0,0,153;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #000087;
  --ion-color-primary-tint: #1a1aa3;

  /** secondary **/
  --ion-color-secondary: #39409e;
  --ion-color-secondary-rgb: 57,64,158;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #32388b;
  --ion-color-secondary-tint: #4d53a8;

  --ion-color-tertiary: #4851b4;
  --ion-color-tertiary-rgb: 72,81,180;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #3f479e;
  --ion-color-tertiary-tint: #5a62bc;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #911111;
  --ion-color-danger-rgb: 145,17,17;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #800f0f;
  --ion-color-danger-tint: #9c2929;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #404040;
  --ion-color-medium-rgb: 64,64,64;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #383838;
  --ion-color-medium-tint: #535353;

  /** light **/
  --ion-color-light: #606060;
  --ion-color-light-rgb: 96,96,96;
  --ion-color-light-contrast: #ffffff;
  --ion-color-light-contrast-rgb: 255,255,255;
  --ion-color-light-shade: #545454;
  --ion-color-light-tint: #707070;
}

.ion-color-blue {
  --ion-color-base: #7b87d8;
  --ion-color-contrast: #ffffff;
}