<ion-header>
  <ion-toolbar color="tertiary" mode="ios">
    <ion-title>My Locks</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" menu="menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="content">

  <ion-refresher slot="fixed" (ionRefresh)="refreshLocks($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let lockId of lockSetFav" [attr.color]="lockId === expandedLockId ? 'dark' : ''">
    <ion-card-header>
      <ion-row>
        <ion-col size="2" (click)="expandLock(lockId)">
          <ion-icon [attr.name]="lockId === expandedLockId ? 'key' : 'key-outline'" size="large"></ion-icon>
        </ion-col>
        <ion-col size="9" (click)="expandLock(lockId)">
          <ion-row>
            <ion-card-title>{{ locks[lockId]['alias'] }}</ion-card-title>
          </ion-row>
          <ion-row>
            <ion-card-subtitle>{{ locks[lockId]['address'] }}</ion-card-subtitle>
          </ion-row>
        </ion-col>
        <ion-col size="1" (click)="favouriteLock(lockId)">
          <ion-icon name="star" size="large" color="warning"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-card-header>
  
    <ion-card-content *ngIf="lockId === expandedLockId" style="padding: 0;" [@inOutAnimation]>
      <ion-row style="padding: 0">
        <ion-col size="6" style="padding: 0;">
          <ion-item color="tertiary" (click)="lock(lockId)" button>
            <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
            <ion-label>Lock</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6" style="padding: 0;">
          <ion-item color="secondary" (click)="unlock(lockId)" button>
            <ion-icon name="lock-open-outline" slot="start"></ion-icon>
            <ion-label>Unlock</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-item lines="full" color="blue" (click)="startWebcam(lockId)" button *ngIf="locks[lockId].webcam">
        <ion-icon name="videocam-outline" slot="start"></ion-icon>
        <ion-label>Start Webcam</ion-label>
      </ion-item>
      <ion-item lines="full" color="blue" (click)="viewPermissions(lockId)" button>
        <ion-icon name="finger-print-outline" slot="start"></ion-icon>
        <ion-label>View Permissions</ion-label>
      </ion-item>
      <ion-item lines="full" color="blue" (click)="viewLogs(lockId)" button>
        <ion-icon name="analytics-outline" slot="start"></ion-icon>
        <ion-label>View Logs</ion-label>
      </ion-item>
      <ion-item lines="full" color="blue" (click)="editLock(locks[lockId])" button>
        <ion-icon name="create-outline" slot="start"></ion-icon>
        <ion-label>Edit</ion-label>
      </ion-item>
      <ion-item lines="full" color="danger" (click)="deleteLock(lockId)" button>
        <ion-icon name="trash-outline" slot="start"></ion-icon>
        <ion-label>Delete</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let lockId of lockSet" [attr.color]="lockId === expandedLockId ? 'dark' : ''">
    <ion-card-header>
      <ion-row>
        <ion-col size="2" (click)="expandLock(lockId)">
          <ion-icon [attr.name]="lockId === expandedLockId ? 'key' : 'key-outline'" size="large"></ion-icon>
        </ion-col>
        <ion-col size="9" (click)="expandLock(lockId)">
          <ion-row><ion-card-title>{{ locks[lockId]['alias'] }}</ion-card-title></ion-row>
          <ion-row><ion-card-subtitle>{{ locks[lockId]['address'] }}</ion-card-subtitle></ion-row>
        </ion-col>
        <ion-col size="1" (click)="favouriteLock(lockId)">
          <ion-icon name="star-outline" size="large"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-card-header>
  
    <ion-card-content *ngIf="lockId === expandedLockId" style="padding: 0;" [@inOutAnimation]>
      <ion-row style="padding: 0">
        <ion-col size="6" style="padding: 0;">
          <ion-item color="tertiary" (click)="lock(lockId)" button>
            <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
            <ion-label>Lock</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6" style="padding: 0;">
          <ion-item color="secondary" (click)="unlock(lockId)" button>
            <ion-icon name="lock-open-outline" slot="start"></ion-icon>
            <ion-label>Unlock</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-item lines="full" color="blue" (click)="startWebcam(lockId)" button *ngIf="locks[lockId].webcam">
        <ion-icon name="videocam-outline" slot="start"></ion-icon>
        <ion-label>Start Webcam</ion-label>
      </ion-item>
      <ion-item lines="full" color="blue" (click)="viewPermissions(lockId)" button>
        <ion-icon name="finger-print-outline" slot="start"></ion-icon>
        <ion-label>View Permissions</ion-label>
      </ion-item>
      <ion-item lines="full" color="blue" (click)="viewLogs(lockId)" button>
        <ion-icon name="analytics-outline" slot="start"></ion-icon>
        <ion-label>View Logs</ion-label>
      </ion-item>
      <ion-item lines="full" color="blue" (click)="editLock(locks[lockId])" button>
        <ion-icon name="create-outline" slot="start"></ion-icon>
        <ion-label>Edit</ion-label>
      </ion-item>
      <ion-item lines="full" color="danger" (click)="deleteLock(lockId)" button>
        <ion-icon name="trash-outline" slot="start"></ion-icon>
        <ion-label>Delete</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let lockId of lockSetInvalid" [attr.color]="lockId === expandedLockId ? 'dark' : ''">
    <ion-card-header (click)="expandLock(lockId)">
      <ion-row>
        <ion-col size="2">
          <ion-icon [attr.name]="lockId === expandedLockId ? 'key' : 'key-outline'" size="large"></ion-icon>
        </ion-col>
        <ion-col size="10">
          <ion-card-subtitle>Please set alias and address for this lock. (Lock ID: {{ lockId }})</ion-card-subtitle>
        </ion-col>
      </ion-row>
    </ion-card-header>
  
    <ion-card-content *ngIf="lockId === expandedLockId" style="padding: 0;" [@inOutAnimationInvalid]>
      <ion-item lines="full" color="blue">
        <ion-icon name="create-outline" slot="start"></ion-icon>
        <ion-label>Edit</ion-label>
      </ion-item>
      <ion-item lines="full" color="danger" (click)="deleteLock(lockId)" button>
        <ion-icon name="trash-outline" slot="start"></ion-icon>
        <ion-label>Delete</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="addLock()">
    <ion-fab-button color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>
